<div class="container">
  <div class="class">
    <h1>INDEX TOOLS</h1>
  </div>


  <div class="">

    <% @tools.each do |tool| %>
      <div class="class">
        <%= tool.id  %> - <%= tool.name %>
        <%= link_to "More Info", tool_path(tool) %>
      </div>
    <% end %>
  </div>

</div>
