<div class="container">
  <div class="class">
    <h1>INDEX TOOLS</h1>
  </div>


  <div class="tools-grid">

    <% @tools.each do |tool| %>
      <div class="card">
        <img src="https://source.unsplash.com/random/300×150/?<%= tool.name.gsub(" ","-")%>)">
        <%= tool.id  %> - <%= tool.name %>
        <%= link_to "More Info", tool_path(tool) %>
      </div>
    <% end %>
  </div>

</div>
