// Import page-specific CSS files here.
@import "home";

.tools-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
}

.card{
  height: 30vh;
}

.card-img-top{
  height: 70%;
}

.btn-yellow{
  text-decoration: none;
  background-color: #ffe35b;
  color: black;
  text-align: center;
  font-size: smaller;
  margin: 7px;
  border-radius: 0.5rem;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
}
