<div class="container">

  <div class="d-flex justify-content-around mt-4">

    <div>
      <%= cl_image_tag("card1_jyw4i8", width: 300, height: 600, crop: :fit) %>
      <h2 class="landing-text text-1">Need a tool?</h2>
    </div>

    <div>
      <%= cl_image_tag("card2_obcwrq", width: 250, height: 400, crop: :scale) %>
      <h2 class="landing-text text-2">Tool Handler can help you!</h2>
      <%= link_to "START NOW!", tools_path, class:"home btn-yellow-lg shadow" %>
    </div>

    <div class="ps-5">
      <%= cl_image_tag("card3_mljm6z", width: 300, height: 600, crop: :fit) %>
      <h2 class="landing-text text-3">Rent the tool you need in here!</h2>
    </div>

  </div>

</div>
