<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 first-card">
        <%= image_tag "picture.png", class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title-changed">Need a tool?</h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 second-card">
        <%= image_tag "hammer.png", class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title-changed">Tool Handler can help you</h5>
        </div>
      </div>
    </div>

    <div class="col">
    <div class="card h-100 thrid-card">
        <%= image_tag "friends.png", class: "card-img-3" %>
        <div class="card-body">
          <h5 class="card-title-changed">Rent the tools you need, help someone else and even make some money!</h5>
           <div class="mb-4 btn-home">
             <%= link_to "Create Account", new_user_registration_path, class:"btn-black" %>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
