<div class="banner">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto mt-5 text">
        <h1>Need a tool?</h1>
        <p>Tool Handler can help you!</p>
      </div>
    </div>
    <div class="d-grid gap-2 col-2 mx-auto">
      <%= link_to "Start Here", new_user_registration_path, class: "btn btn-orange-lg" %>
    </div>
  </div>
</div>

<div class="cards mt-5">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2 me-3 card-category">
      Rent your tools
    </div>
    <div class="col col-lg-2 mx-3 card-category">
      Make money
    </div>
    <div class="col col-lg-2 ms-3 card-category">
      Solve problems
    </div>
  </div>
</div>
