.btn-yellow{
  text-decoration: none;
  background-color: #ffe35b;
  color: black;
  text-align: center;
  font-size: smaller;
  margin: 7px;
  border-radius: 0.5rem;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;

  &:hover{
  background-color: black;
  color: #ffe35b;
  }
}

.btn-orange{
  font-size: 18px;
  line-height: 1.7;
  color: #fff;
  background-color: #DA9000;
  border: 1px solid #DA9000;
  width: 100%;
  padding: 5px 10px;
  border-radius: 4px;

  &:hover{
  background-color: whitesmoke;
  color: #DA9000;
  border-color: #DA9000;
  }
}

.btn-yellow-lg{
  text-decoration: none;
  background-color: #ffe35b;
  color: black;
  text-align: center;
  font-size: medium;
  margin: 7px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;

  &:hover{
  background-color: black;
  color: #ffe35b;
  }
}

.home{
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    background-color: #FFB414;
    margin-left:45px;
}

.btn-black{
  font-size: 18px;
  line-height: 1.7;
  color: #ffaa00;
  background-color: black;
  border: 1px solid black;
  width: 100%;
  padding: 5px 10px;
  border-radius: 4px;

  &:hover{
  background-color: whitesmoke;
  color: #ffaa00;
  border-color: #ffaa00;
  }
}

.btn-orange-lg{
  text-decoration: none;
  background-color: #da9000;
  color: black;
  text-align: center;
  font-size: medium;
  margin: 7px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;

  &:hover{
    background-color: black;
    color: #ffe35b;
  }
}
.my-rentals-btns{
  display:block;
  margin-left: auto;
}

.add-tool-index{
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
