.btn-yellow{
  text-decoration: none;
  background-color: #ffe35b;
  color: black;
  text-align: center;
  font-size: smaller;
  margin: 7px;
  border-radius: 0.5rem;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;

  &:hover{
  background-color: black;
  color: #ffe35b;
  }
}
