.btn-yellow{
  text-decoration: none;
  background-color: #ffe35b;
  color: black;
  text-align: center;
  font-size: smaller;
  margin: 7px;
  border-radius: 0.5rem;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;

  &:hover{
  background-color: black;
  color: #ffe35b;
  }
}

.btn-orange{
  font-size: 18px;
  line-height: 1.7;
  color: #fff;
  background-color: #DA9000;
  border: 1px solid #DA9000;
  width: 100%;
  padding: 5px 10px;
  border-radius: 4px;

  &:hover{
  background-color: whitesmoke;
  color: #DA9000;
  border-color: #DA9000;
  }
}

.btn-yellow-lg{
  text-decoration: none;
  background-color: #ffe35b;
  color: black;
  text-align: center;
  font-size: medium;
  margin: 7px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;

  &:hover{
  background-color: black;
  color: #ffe35b;
  }
}

.btn-orange-lg{
  text-decoration: none;
  background-color: #da9000;
  color: black;
  text-align: center;
  font-size: medium;
  margin: 7px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;

  &:hover{
  background-color: black;
  color: #ffe35b;
  }
}
